<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

<!-- Displaying the user's caught pokemon -->
    {{#user}}

      {{#pokemons}}
      {{name}}

      {{/pokemons}}
    {{/user}}
    sdfsdf

  </body>
</html>
