.website_title {
  font-family: 'Pokemon Hollow';
  font-size: 5em;
  list-style-type: none;
  margin: 0 auto 0 auto;
}

.navbar {
  background-color: red;
  display: flex;
  flex-direction: row;
  padding: 1.4em;
}

.ul_navbar {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.username_span {
  font-family: 'Pokemon Solid';
  font-size: 1.5em;
}
.username_display {
  list-style-type: none;

  right: 15px;
}

.account_links{
  display: flex;
  flex-direction: column;
}

.trainer_header {
  margin: 0 auto 0 auto;
}

.trainer_image {
  height:150px;
  width: 150px;
}

.contain_all {
  display: flex;
  flex-direction: row;
}

.pokemon_div_container {
  background-color: lightblue;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 1em 1em 0 1em;
  width: 50%;
  float: left;
}

.pokemon_list {
  list-style-type: none;
}

.left_side_bar {
  border: 1px solid lightblue;
  float: left;
  margin: 1em 0 0 1em;
  width: 20%;
}

.right_side_bar {
  border: 1px solid lightblue;
  float: left;
  margin-top: 1em;
  width: 20%;
}


/* For Pokemon ID Page */
.div_for_pokedex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3em;
}

.pokedex_left {
  border: 2px solid black;
  border-radius: 13px;
  box-shadow: 0 0 1em .2em black;
  background-color: red;
  height: 45em;
  width: 40%;
}

.pokemon_image{
  width:300px;
  height:280px;
}

.catch_table {
  margin: 2em 0 0 1em;
  font-size: .8em;
}

.catch_button{
  background-color: #BB341E;
  border: 2.2px solid #850101;
  border-radius: 10px;
  padding: 0 1em 0 1em;
}

.pokemon_button{
  background-color: #0F79D8;
  border: 2.2px solid #031964;
  border-radius: 10px;
  padding:0 1em 0 1em;
}

.pokemon_json{
  color:black;
  text-decoration: none;
}

.pokemon_name{
  background-color: #44BE60;
  border-radius: 10px;
  border: 1.8px solid #125806;
  display: inline-block;
  font-size: 1em;
  margin: 5em 0 0 1em;
  padding: 1em 1.5em 1em 1.5em;
}

.pokedex_right {
  background-color: red;
  border: 2px solid black;
  border-left: 5px solid #4d4d4d;
  border-radius: 20px;
  box-shadow:0 0 .1em .2em gray;
  height: 33em;
  width: 35%;
  bottom: 0;
  margin-top: 12em;
}

.pokemon_description{
  background-color: #7FF444;
  border: 2px solid #13860F;
  border-radius: 7px;
  box-shadow: 0 0 1.3em .1em #13860F;
  margin: 3em auto 0 auto;
  height: 10em;
  width:70%;
}

.pokemon_stats{
  background-color: #2772F5;
  border-collapse: collapse;
  box-shadow: 0 0 .5em .2em #288FCD;
  margin: 3em auto 0 auto;
  width:70%;
}

.pokemon_stat{
  border: 2px solid #4471BE;
  box-shadow: -.1em .3em .7em 0 #288FCD;
  padding: .7em;
  text-align:center;
}


.pokemon_id {
  background-color: #289DE4;
  border: 1.5px solid white;
  border-radius: 50px;
  font-size: 1.5em;
  margin-left: .8em;
  margin-top: .3em;
  padding: 0 5px 0 5px;
  position: absolute;
}
.pokemon_type{
  background-color: #289DE4;
  border: 1.5px solid white;
  border-radius: 50px;
  font-size: 1.5em;
  margin-left: .8em;
  margin-top: .3em;
  padding: 0 5px 0 5px;
  text-align: right;
  
}
.display_image {
  text-align:center;
  background-color:white;
  border: 4px solid #A2A2A2;
  box-shadow: 0 0 1em .3em #A2A2A2;
  margin-left: 7%;
  margin-top: 3em;
  width: 80%;
  height: 40%;
}

/* End of Pokemon ID Page */

.edit_pokemon {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
  width: 20%;
}

.edit_input {
  border: 1.5px solid black
}


/* For Pokemon Edit Page */
